@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

$transparentGreen: rgba(0, 90, 86, 0.634);
$green: rgba(0, 90, 86);

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

.absolute {
  position: absolute;
}

// Intro - 1st page

main {
  background-image: url(./images/burren.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: fadeIn 1s;
  width: 100vw;
  height: 100vh;
  section {
    width: 91vw;
    max-width: 400px;
    height: 200px;
    bottom: 33vh;
    left: 9vw;
    color: white;

    h1 {
      font-size: 140px;
      font-family: "Lora", serif;
      line-height: 80%;
    }
    h2 {
      font-size: 70px;
      font-family: "Lora", serif;
      margin-bottom: 15px;
    }
  }
  .shade {
    width: 20vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.634);
    animation: 1.5s ease slideRight forwards;
  }
  .greenblock {
    width: 91vw;
    height: 32px;
    position: absolute;
    top: 68vh;
    left: 9vw;
    background-color: $transparentGreen;
    color: white;
    animation: 2s linear scrollDown forwards;
    overflow-y: hidden;
    h3 {
      padding-top: 2px;
    }
  }
}

// Responsive

@media screen and (max-width: 550px) {
  section {
    h1 {
      font-size: 100px;
    }
    h2 {
      font-size: 50px;
    }
  }
  .greenblock {
    h3 {
      padding-top: 2px;
      height: 100px;
    }
  }
}

// Description - 2nd page

.allMapContent {
  width: 100vw;
  height: 500px;
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .mapText {
    min-width: 300px;
    width: 30vw;
    text-align: justify;
    font-size: 1.2rem;
    padding: 20px 20px 20px 40px;
  }
  .map {
    min-width: 400px;
    width: 40vw;
    padding: 20px 40px 20px 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

// Responsive

@media screen and (max-width: 820px) {
  .allMapContent {
    height: 800px;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .mapText {
      width: 70vw;
      padding: 0px 40px;
      margin-bottom: 100px;
    }
    .map {
      width: 70vw;
      padding: 0px 40px;
    }
  }
}
@media screen and (max-width: 550px) {
  .allMapContent {
    height: 700px;
    .mapText {
      min-width: 200px;
      width: 90vw;
      margin-bottom: 60px;
      padding: 0;
    }
    .map {
      min-width: 200px;
      width: 90vw;
      padding: 0;
    }
  }
}

// Weather chart - 3rd page

.weather {
  height: 500px;
  width: 100vw;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  .weatherChart {
    width: 90%;
    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .firstCol {
      width: 150px;
      padding: 5px 0px 5px 20px;
    }
    .cell {
      width: 150px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .locationName {
      background-color: $transparentGreen;
      color: white;
    }
    .topRow {
      padding-bottom: 10px;
    }
    .datePicker {
      width: 160px;
      padding-left: 4px;
    }
    .topCell {
      font-weight: bold;
    }
    .locationDataAll:hover {
      background-color: rgb(139, 139, 139, 0.15);
    }
  }
}

// Responsive
@media screen and (max-width: 820px) {
  .weather {
    .weatherChart {
      width: 100%;
    }
  }
}

// Animations
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-20vw);
  }
  50% {
    transform: translateX(-20vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
section h1,
h2 {
  animation: 1.5s ease slideLeft forwards;
}
@keyframes slideLeft {
  0% {
    transform: translateX(90px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes scrollDown {
  0% {
    height: 0px;
    opacity: 1;
  }
  70% {
    height: 0px;
    opacity: 1;
  }
  100% {
    height: 32px;
    opacity: 1;
  }
}
