@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

$transparentGreen: rgba(0, 90, 86, 0.634);

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

.absolute {
  position: absolute;
}

.fullPage {
  width: 100vw;
  height: 100vh;
  margin-bottom: 10vh;
}

main {
  background-image: url(./images/burren.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: fadeIn 1s;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  section {
    width: 400px;
    height: 200px;
    top: 33vh;
    left: 9vw;
    color: white;

    h1 {
      font-size: 140px;
      font-family: "Lora", serif;
      line-height: 80%;
    }
    h2 {
      font-size: 70px;
      font-family: "Lora", serif;
      margin-bottom: 15px;
    }
  }

  .cover {
    width: 100vw;
    height: 10vh;
    position: absolute;
    background-color: white;
  }
  .top {
    top: 0vh;
  }
  .bottom {
    top: 90vh;
  }
  .shade {
    width: 20vw;
    height: 80vh;
    position: absolute;
    top: 10vh;
    background-color: rgba(0, 0, 0, 0.634);
  }
  .greenblock {
    width: 91vw;
    height: 32px;
    position: absolute;
    top: 69vh;
    left: 9vw;
    background-color: $transparentGreen;
    color: white;
    h3 {
      padding-top: 2px;
    }
  }
}

.description {
  padding-top: 10vh;
  margin-bottom: 0;
  .allMapContent {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
  }
  .map {
    width: 600px;
    height: 402px;
  }
  .mapText {
    width: 300px;
    height: 300px;
    text-align: justify;
    font-size: 20px;
  }
}

.weather {
  margin-bottom: 0;

  .climber {
    margin-left: 20px;
    img {
      width: 350px;
    }
  }

  .datePicker {
    width: 156px;
    height: 29px;
    margin: auto;
    padding-bottom: 10vh;
  }

  .allWeatherContent {
    padding-top: 8vh;
    display: flex;
    align-items: center;
  }
  .weatherResults {
    width: 75vw;
    height: 503px;
    position: absolute;
    top: 8vh;
    left: 300px;
  }

  .emptyCell {
    min-width: 200px;
  }
  .topRow {
    display: flex;
    justify-content: flex-end;
    .head {
      padding: 20px;
      text-align: center;
    }
  }
  .locationDataAll {
    display: flex;
    justify-content: space-between;
  }
  .locationName {
    flex-grow: 0;
    flex-shrink: 0;
    width: 150px;
    height: 25px;
    font-size: 18px;
    background-color: $transparentGreen;
    color: white;
    padding: 5px 0px 5px 20px;
  }
  .locationDataAll:hover {
    background-color: rgb(139, 139, 139, 0.15);
  }

  .dataList {
    list-style: none;
    display: flex;
  }
}

// Animations
.shade {
  animation: 1.5s ease slideRight forwards;
}
@keyframes slideRight {
  0% {
    transform: translateX(-20vw);
  }
  50% {
    transform: translateX(-20vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
section h1,
h2 {
  animation: 1.5s ease slideLeft forwards;
}
@keyframes slideLeft {
  0% {
    transform: translateX(90px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.greenblock {
  animation: 2s linear scrollDown forwards;
  overflow-y: hidden;
}
@keyframes scrollDown {
  0% {
    height: 0px;
    opacity: 1;
  }
  70% {
    height: 0px;
    opacity: 1;
  }
  100% {
    height: 32px;
    opacity: 1;
  }
}
